*{font-family: 'Lato', sans-serif;
margin: 0;
}


.top{
	background-repeat: no-repeat;
	background-image: url("./image gal.jpg"	);
    background-attachment: fixed;
    height: 900px;
    background-position: center;
    margin-bottom: 35px;
    background-size: cover;

    }

h1{
	font-size: 60px;
	text-align: center;
	color: white;
	padding-top: 100px;

}

h2{
	margin-top: 40px;
	font-size: 40px;
	text-align: center;
	color: #86898c;
}

h3{
	text-align: center;
	font-size: 36px;
	font-family:'Merriweather', serif;
	padding-bottom: 25px;
	letter-spacing: 2px;
}

h3::after{
	content: "";
	display: block;
	margin-top: 25px;
	margin-left: 450px;
	margin-right: 450px;
	border: 4px solid #3881f7;
	margin-bottom: 30px;
}

img{
	height: 480px;
	width: 360px;
	margin: 20px;
	transition: all 1.2s;
	filter: grayscale(80%);
}

.images{
	text-align: center;
}
img:hover{
	position: relative; 
    transform: translate3d(5px, -40px, 0px)	;
	filter: grayscale(0%);}
